Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data

In [3]:
# Importing labraries to scrape the data 

import selenium
import time
import pandas as pd
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium import webdriver 

driver=webdriver.Chrome(r"C:\Users\Sony\.wdm\drivers\chromedriver\win32\102.0.5005.61\chromedriver")
driver.maximize_window()
driver.get(' https://www.naukri.com/')

# getting xpath of the attributes require
time.sleep(5)
search_bar  = driver.find_element(By.XPATH , '//*[@id="root"]/div[2]/div[3]/div/div/div[1]/div/div/div/input').send_keys('Data Analyst')
time.sleep(3)
location   = driver.find_element(By.XPATH , '//*[@id="root"]/div[2]/div[3]/div/div/div[5]/div/div/div/input').send_keys('Banglore')
time.sleep(3)
search_click  = driver.find_element(By.XPATH , '//*[@id="root"]/div[2]/div[3]/div/div/div[6]').click()
time.sleep(3)
job_title  = driver.find_elements(By.XPATH , '//*[@class="title fw500 ellipsis"]')
location  = driver.find_elements(By.XPATH , '//ul[@class="mt-7"]//li[3]')
years = driver.find_elements(By.XPATH , '//ul[@class="mt-7"]//li[1]')
company = driver.find_elements(By.XPATH , '//*[@class="subTitle ellipsis fleft"]')

job_title_list=[]
location_list  = []
years_list=[]
company_list=[]
for i in  range(10):
    job_title_list.append(job_title[i].text)
    location_list .append(location[i].text)
    years_list.append(years[i].text)
    company_list.append(company[i].text)
    
dataframe = pd.DataFrame ({
    'job_title':job_title_list,
    'loaction':location_list,
    'Experience_needed':years_list,
    'company_name':company_list
})
dataframe

C:\Users\Sony\AppData\Local\Temp\ipykernel_2436\1867849868.py:11: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\Sony\.wdm\drivers\chromedriver\win32\102.0.5005.61\chromedriver")

,job_title,loaction,Experience_needed,company_name
0,Data Analyst / Business Analyst,Bangalore/Bengaluru,3-8 Yrs,METRO Cash & Carry
1,data analyst/ data analytics / Business analys...,"Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi /...",2-7 Yrs,Leading US MNC into Analytics
2,Data Analyst,Bangalore/Bengaluru,1-3 Yrs,PharmEasy
3,Master Data Management Business Analyst,Bangalore/Bengaluru,6-8 Yrs,Accenture
4,Data Analytics and Interpretation Business Ana...,Bangalore/Bengaluru,6-8 Yrs,Accenture
5,TA Data Analyst,Bangalore/Bengaluru,3-8 Yrs,Novo Nordisk India
6,Senior Data Analyst,Bangalore/Bengaluru,2-6 Yrs,GAME SHOW NETWORK
7,Hiring For Data Analyst,Bangalore/Bengaluru,2-5 Yrs,Taikee
8,Business Analyst / Data Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Chennai,...",5-8 Yrs,cliqhr.com
9,Data Analyst,Bangalore/Bengaluru,2-5 Yrs,Plum

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [6]:
import selenium
import time
import pandas as pd
from selenium.webdriver.common.by import By
from selenium import webdriver 

driver=webdriver.Chrome(r"C:\Users\Sony\.wdm\drivers\chromedriver\win32\102.0.5005.61\chromedriver")
driver.maximize_window()
driver.get(' https://www.naukri.com/')

# getting xpath of the attributes require
time.sleep(5)
search_bar  = driver.find_element(By.XPATH , '//*[@id="root"]/div[2]/div[3]/div/div/div[1]/div/div/div/input').send_keys('Data Scientist')
time.sleep(3)
location   = driver.find_element(By.XPATH , '//*[@id="root"]/div[2]/div[3]/div/div/div[5]/div/div/div/input').send_keys('Banglore')
time.sleep(3)
search_click  = driver.find_element(By.XPATH , '//*[@id="root"]/div[2]/div[3]/div/div/div[6]').click()
time.sleep(3)
job_title  = driver.find_elements(By.XPATH , '//*[@class="title fw500 ellipsis"]')
location  = driver.find_elements(By.XPATH , '//ul[@class="mt-7"]//li[3]')
company = driver.find_elements(By.XPATH , '//*[@class="subTitle ellipsis fleft"]')

job_title_list=[]
location_list  = []
company_list=[]
for i in  range(10):
    job_title_list.append(job_title[i].text)
    location_list .append(location[i].text)
    company_list.append(company[i].text)
    
dataframe = pd.DataFrame ({
    'job_title':job_title_list,
    'loaction':location_list,
    'company_name':company_list
})
dataframe

C:\Users\Sony\AppData\Local\Temp\ipykernel_2436\2497923856.py:7: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\Sony\.wdm\drivers\chromedriver\win32\102.0.5005.61\chromedriver")

,job_title,loaction,company_name
0,AI Technologist Vacancy,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Wipro
1,Job Opening with Wipro For Data Scientist posi...,"Kolkata, Hyderabad/Secunderabad, Chennai, Bang...",Wipro
2,Research Engineer: Deep Learning & Collective ...,Bangalore/Bengaluru,Siemens
3,Research Associate II,Bangalore/Bengaluru,Philips
4,Data Scientist,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",Genpact
5,Data Scientist - Immediate Joiners,"Noida, Mumbai, Pune, Bangalore/Bengaluru",Bristlecone
6,Data Scientist- AI/ML- R&D,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",EXL
7,Urgent Hiring For AI Data Scientist,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",Ashkom Media India Private Limited
8,Data Scientist,"Mumbai, Bangalore/Bengaluru",UPL
9,Data Scientist,"Bangalore/Bengaluru, Mumbai (All Areas)",UPL

Q- 3  : In this question you have to scrape data using the filters available on the webpage as shown below:
    You have to use the location and salary filter.
    You have to scrape data for “Data Scientist” designation for first 10 job results.
    You have to scrape the job-title, job-location, company name, experience required.
    The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [8]:
import selenium
import time
import pandas as pd
from selenium.webdriver.common.by import By
from selenium import webdriver 
driver=webdriver.Chrome(r"C:\Users\Sony\.wdm\drivers\chromedriver\win32\102.0.5005.61\chromedriver")
driver.maximize_window()
driver.get(' https://www.naukri.com/')

# getting xpath of the attributes require
time.sleep(5)
search_bar  = driver.find_element(By.XPATH , '//*[@id="root"]/div[2]/div[3]/div/div/div[1]/div/div/div/input').send_keys('Data Scientist')
time.sleep(3)
location   = driver.find_element(By.XPATH , '//*[@id="root"]/div[2]/div[3]/div/div/div[5]/div/div/div/input').send_keys('Banglore')
time.sleep(3)
search_click  = driver.find_element(By.XPATH , '//*[@id="root"]/div[2]/div[3]/div/div/div[6]').click()
time.sleep(3)
location  = driver.find_element(By.XPATH, '//*[text()="Delhi / NCR"][1]').click()
driver.implicitly_wait(3)
salary  = driver.find_element(By.XPATH, '//*[text()="3-6 Lakhs"][1]').click()

job_title  = driver.find_elements(By.XPATH , '//*[@class="title fw500 ellipsis"]')
location  = driver.find_elements(By.XPATH , '//ul[@class="mt-7"]//li[3]')
years = driver.find_elements(By.XPATH , '//ul[@class="mt-7"]//li[1]')
company = driver.find_elements(By.XPATH , '//*[@class="subTitle ellipsis fleft"]')

job_title_list=[]
location_list  = []
years_list=[]
company_list=[]
for i in  range(10):
    job_title_list.append(job_title[i].text)
    location_list .append(location[i].text)
    years_list.append(years[i].text)
    company_list.append(company[i].text)
    
dataframe = pd.DataFrame ({
    'job_title':job_title_list,
    'loaction':location_list,
    'Experience_needed':years_list,
    'company_name':company_list
})
dataframe

C:\Users\Sony\AppData\Local\Temp\ipykernel_2436\1841904657.py:9: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\Sony\.wdm\drivers\chromedriver\win32\102.0.5005.61\chromedriver")

,job_title,loaction,Experience_needed,company_name
0,Job Opening with Wipro For Data Scientist posi...,"Kolkata, Hyderabad/Secunderabad, Chennai, Bang...",2-7 Yrs,Wipro
1,Data Scientist,"Pune, Gurgaon/Gurugram, Bangalore/Bengaluru",2-5 Yrs,SS Supply Chain Solutions Pvt. Ltd. (3SC)
2,Data Scientist -Machine Learning with Python,"Noida, New Delhi, Gurgaon/Gurugram, Delhi / NC...",1-4 Yrs,Genpact
3,Data Scientist - Predictive Analytics,"Noida, Mumbai, Chandigarh, Hyderabad/Secundera...",1-6 Yrs,Confidential
4,Data Scientist - Machine learning AI,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",3-8 Yrs,Teq Analytics
5,Data Scientist - MIND Infotech,Noida,4-8 Yrs,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED
6,Data Scientist - MIND Infotech,Noida,4-8 Yrs,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED
7,Data Scientist - Internet Jobs - II,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",3-6 Yrs,Jobs Territory
8,Machine Learning Engineer | Data Engineer | Da...,"Chennai, Bangalore/Bengaluru, Delhi / NCR(Sect...",1-3 Yrs,Tidyquant (OPC) Private Limited
9,Data Scientist (Python) Immediate Joiners,"Noida, Pune, Ahmedabad",1-4 Yrs,Om Software Internet Solutions Private Limited

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
The attributes which you have to scrape is ticked marked in the below image.

In [37]:
import selenium
import time
import pandas as pd
from selenium.webdriver.common.by import By
from selenium import webdriver 

driver=webdriver.Chrome(r"C:\Users\Sony\.wdm\drivers\chromedriver\win32\102.0.5005.61\chromedriver")
driver.maximize_window()
driver.get('https://www.flipkart.com/?ef_id=36628718f5911066a1e2e5bcaa236cbb:G:s&s_kwcid=AL!739!10!76484920232329!76485137407154&semcmpid=sem_F1167BY7_Brand_adcenter')
cross_button  = driver.find_element(By.XPATH , '/html/body/div[2]/div/div/button').click()

search_bar  = driver.find_element(By.XPATH , '//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input').send_keys('Sun glasses')
search_sumbit  = driver.find_element(By.XPATH , '//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/button').click()

time.sleep(6)
count = 1

Brand_list = []
Brand_title_list = []
Price_list = []
Discount_list = []


for j in range(1,4):  
    Brand  = driver.find_elements(By.XPATH , '//*[@class="_2WkVRV"]')
    time.sleep(2)
    Brand_title = driver.find_elements(By.XPATH , '//*[@class="IRpwTa"]')
    time.sleep(2)
    Price= driver.find_elements(By.XPATH , '//*[@class="_30jeq3"]')
    time.sleep(2)
    Discount= driver.find_elements(By.XPATH , '//*[@class="_3Ay6Sb"]')
    time.sleep(3)
    for i in range(len(Brand)):
        Brand_list.append(Brand[i].text)
        Brand_title_list.append(Brand_title[i].text)
        Price_list.append(Price[i].text)
        Discount_list.append(Discount[i].text)
        
        if count ==100:
            break
        else:
            count+=1
    if j==3:
        break
    else:
        driver.get('https://www.flipkart.com/search?q=Sun+glasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page='+str(j+1))
df  = pd.DataFrame({
    'Brand':Brand_list,
    'Brand_title' : Brand_title_list,
    'Price':Price_list,
    'Discount':Discount_list
})
df

C:\Users\Sony\AppData\Local\Temp\ipykernel_2436\4096962072.py:7: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\Sony\.wdm\drivers\chromedriver\win32\102.0.5005.61\chromedriver")

,Brand,Brand_title,Price,Discount
0,Ray-Ban,Gradient Round Sunglasses (54),"₹7,419",31% off
1,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹359,82% off
2,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹639,20% off
3,Mi,Polarized Aviator Sunglasses (Free Size),₹649,45% off
4,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹699,30% off
...,...,...,...,...
95,ROZZETTA CRAFT,UV Protection Spectacle Sunglasses (Free Size),₹359,82% off
96,SRPM,"Night Vision, UV Protection Round Sunglasses (54)",₹207,79% off
97,Ray-Ban,"Mirrored, UV Protection Aviator Sunglasses (58)","₹4,269",23% off
98,Fastrack,UV Protection Aviator Sunglasses (57),₹635,20% off
99,Ray-Ban,Mirrored Aviator Sunglasses (63),"₹3,549",52% off

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
TSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage .
As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews

In [38]:
import selenium
import time
import pandas as pd
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium import webdriver 

driver=webdriver.Chrome(r"C:\Users\Sony\.wdm\drivers\chromedriver\win32\102.0.5005.61\chromedriver")
driver.maximize_window()
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART')
# all_reviews = driver.find_element(By.XPATH , '//*[@id="container"]/div/div[3]/div[1]/div[2]/div[9]/div/div/div[5]/div/a/div/span').click()

ratings = driver.find_elements(By.XPATH , '//*[@class="_3LWZlK _1BLPMq"]')
review  = driver.find_elements(By.XPATH , '//*[@class="_2-N8zT"]')
time.sleep(3)
count = 1
full_review_list = [] 
rating_list = []
review_list = []



for k in range(2,15):
    ratings = driver.find_elements(By.XPATH , '//*[@class="_3LWZlK _1BLPMq"]')
    review  = driver.find_elements(By.XPATH , '//*[@class="_2-N8zT"]')
    time.sleep(5)
    for j in range(3,12):
        wait = WebDriverWait(driver, 10)
        full  = driver.find_element(By.XPATH , '//*[@id="container"]/div/div[3]/div/div/div[2]/div['+str(j)+']/div/div/div/div[2]/div/div/div')
#         time.sleep(2)/
        rating_list.append(ratings[j-3].text)
#         time.sleep(2)
        review_list.append(review[j-3].text)
#         time.sleep(2)
        full_review_list.append(full.text)
        count+=1
    if k ==13:
        break
    else:
        time.sleep(2)
        driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page='+str(k))

df = pd.DataFrame({
    "Ratings":rating_list,
    "Short-Reviews":review_list,
    'Full_Reviews' : full_review_list
})
df
#

C:\Users\Sony\AppData\Local\Temp\ipykernel_2436\1285554391.py:8: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\Sony\.wdm\drivers\chromedriver\win32\102.0.5005.61\chromedriver")

,Ratings,Short-Reviews,Full_Reviews
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Best in the market!,Great iPhone very snappy experience as apple k...
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
94,3,Decent product,Everything u ll like it when u use this iPhone...
95,5,Worth every penny,iPhone is delivered on time. Display is great ...
96,5,Best in the market!,Really very nice... my dad gifted me really I ...
97,5,Classy product,I got this phone for good price hence 5 star f...
98,4,Wonderful,I genuinely liked it. One of the best mobile p...

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the tick marked attributes.

In [45]:
import selenium
import time
import pandas as pd
from selenium.webdriver.common.by import By
from selenium import webdriver 

driver=webdriver.Chrome(r"C:\Users\Sony\.wdm\drivers\chromedriver\win32\102.0.5005.61\chromedriver")
driver.maximize_window()
driver.get('https://www.flipkart.com/?ef_id=36628718f5911066a1e2e5bcaa236cbb:G:s&s_kwcid=AL!739!10!76484920232329!76485137407154&semcmpid=sem_F1167BY7_Brand_adcenter')
cross_button  = driver.find_element(By.XPATH , '/html/body/div[2]/div/div/button').click()

search_bar  = driver.find_element(By.XPATH , '//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input').send_keys('Sneakers')
search_sumbit  = driver.find_element(By.XPATH , '//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/button').click()

time.sleep(6)
count = 1

Brand_list = []
Brand_title_list = []
Price_list = []
Discount_list = []


for j in range(1,4):  
    Brand  = driver.find_elements(By.XPATH , '//*[@class="_2WkVRV"]')
    time.sleep(2)
    Brand_title = driver.find_elements(By.XPATH , '//*[@class="_2WkVRV"]')
    time.sleep(2)
    Price= driver.find_elements(By.XPATH , '//*[@class="_30jeq3"]')
    time.sleep(2)
    Discount= driver.find_elements(By.XPATH , '//*[@class="_3Ay6Sb"]')
    time.sleep(3)
    for i in range(len(Brand)):
        Brand_list.append(Brand[i].text)
        Brand_title_list.append(Brand_title[i].text)
        Price_list.append(Price[i].text)
        Discount_list.append(Discount[i].text)
        
        if count ==100:
            break
        else:
            count+=1
    if j==3:
        break
    else:
        driver.get('https://www.flipkart.com/search?q=Sun+glasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page='+str(j+1))
df  = pd.DataFrame({
    'Brand':Brand_list,
    'Brand_title' : Brand_title_list,
    'Price':Price_list,
    'Discount':Discount_list
})
df

C:\Users\Sony\AppData\Local\Temp\ipykernel_2436\3112130800.py:7: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\Sony\.wdm\drivers\chromedriver\win32\102.0.5005.61\chromedriver")

                Brand        Brand_title   Price Discount
0              BRUTON             BRUTON    ₹499  85% off
1           Cresswell          Cresswell  ₹1,499  57% off
2              Layasa             Layasa    ₹399  60% off
3        Robbie jones       Robbie jones    ₹374  62% off
4              BRUTON             BRUTON    ₹283  78% off
..                ...                ...     ...      ...
95            Ray-Ban            Ray-Ban  ₹3,549  52% off
96  SHAAH COLLECTIONS  SHAAH COLLECTIONS    ₹324  80% off
97             AISLIN             AISLIN    ₹387  74% off
98           Fastrack           Fastrack    ₹721   9% off
99            Ray-Ban            Ray-Ban  ₹8,429  12% off

[100 rows x 4 columns]

Q7: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe as shown in the below image.

In [2]:
import selenium
import time
import pandas as pd
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium import webdriver 
from selenium.common.exceptions import StaleElementReferenceException

driver=webdriver.Chrome(r"C:\Users\Sony\.wdm\drivers\chromedriver\win32\102.0.5005.61\chromedriver")
driver.maximize_window()
time.sleep(3)
driver.get('https://www.myntra.com/shoes')

time.sleep(3)
try :
    color = driver.find_element(By.XPATH , '//*[text()="Black"]').click()
except:
    color = driver.find_element(By.XPATH , '//*[text()="Black"][1]').click()
time.sleep(3)
price_click = driver.find_element(By.XPATH , '//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/span').click()

Brand_list = []
Price_list = []
Review_list = []
for j in range(2):
    for i in range(1,51):
        try : 
            price = driver.find_element(By.XPATH , '//*[@id="desktopSearchResults"]/div[2]/section/ul/li['+str(i)+']/a/div[2]/div/span[1]')
            Price_list.append(price.text)
        except StaleElementReferenceException:
            time.sleep(3)
            price = driver.find_element(By.XPATH , '//*[@id="desktopSearchResults"]/div[2]/section/ul/li['+str(i)+']/a/div[2]/div/span[1]')
            Price_list.append(price.text)

        try : 
            Brand = driver.find_element(By.XPATH , '//*[@id="desktopSearchResults"]/div[2]/section/ul/li['+str(i)+']/a/div[2]/h3')
            Brand_list.append(Brand.text)
        except StaleElementReferenceException:
            time.sleep(3)
            Brand = driver.find_element(By.XPATH , '//*[@id="desktopSearchResults"]/div[2]/section/ul/li['+str(i)+']/a/div[2]/h3')
            Brand_list.append(Brand.text)


        try : 
            review = driver.find_element(By.XPATH , '//*[@id="desktopSearchResults"]/div[2]/section/ul/li['+str(i)+']/a/div[2]/h4[1]')
            Review_list.append(review.text)
        except StaleElementReferenceException:
            time.sleep(3)
            review = driver.find_element(By.XPATH , '//*[@id="desktopSearchResults"]/div[2]/section/ul/li['+str(i)+']/a/div[2]/h4[1]')
            Review_list.append(review.text)

        if i==50:
            time.sleep(2)
            driver.get('https://www.myntra.com/shoes?f=Color%3ABlack_36454f&p=2&rf=Price%3A7186.0_14124.0_7186.0%20TO%2014124.0')
    if j==1:
        break
    else:
        continue
        
df =  pd.DataFrame({
    'Brand':Brand_list,
    'Reviews':Review_list,
    'Price':Price_list
})
df

C:\Users\Sony\AppData\Local\Temp\ipykernel_2156\3732003004.py:9: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\Sony\.wdm\drivers\chromedriver\win32\102.0.5005.61\chromedriver")

        Brand                         Reviews             Price
0    Red Tape               Men Walking Shoes  Rs. 1349Rs. 5399
1        Puma    Unisex Kent 2.0 IDP Sneakers  Rs. 1799Rs. 2999
2        Nike  Men Zoom C Pro HC Tennis Shoes  Rs. 5806Rs. 8295
3    Skechers      Men Max Cushioning Running          Rs. 8999
4        Nike  Women Pegasus 39 Running Shoes         Rs. 10495
..        ...                             ...               ...
95  J.FONTINI               Men Solid Loafers          Rs. 8990
96       Geox      Men Leather Formal Loafers  Rs. 8491Rs. 9990
97       Geox     Men Leather Formal Slip-Ons  Rs. 8991Rs. 9990
98       Geox       Women Solid Leather Heels  Rs. 8091Rs. 8990
99       Geox             Women Leather Pumps  Rs. 8099Rs. 8999

[100 rows x 3 columns]

Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price
As shown in the below image as the tick marked attributes.

In [7]:
import selenium
import time
import pandas as pd
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium import webdriver 
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
import re



driver=webdriver.Chrome(r"C:\Users\Sony\.wdm\drivers\chromedriver\win32\102.0.5005.61\chromedriver")
driver.maximize_window()
time.sleep(3)
driver.get('https://www.amazon.in/')

try :
    search_bar = driver.find_element(By.XPATH , '//*[@id="twotabsearchtextbox"]').send_keys('Laptops')
except NoSuchElementException:
    time.sleep(3)
    
    
search_button = driver.find_element(By.XPATH , '//*[@id="nav-search-submit-button"]').click()

intel_core_9 = driver.find_element(By.XPATH , '//*[text()="Intel Core i9"]').click()

time.sleep(2)
rating_click= driver.find_element(By.XPATH , '//*[@id="p_72/1318479031"]/span/a').click()

title = driver.find_elements(By.XPATH , '//*[@class="a-size-medium a-color-base a-text-normal"]')
rating = driver.find_elements(By.XPATH , '//*[@class="a-row a-size-small"]//span[@aria-label][1]') 
price = driver.find_elements(By.XPATH , '//*[@class="a-price-whole"]')

title_list = []
rating_list = []
price_list = []
for i in range(len(title)):
    title_list.append(title[i].text)
    rating_list.append(rating[i].get_attribute('aria-label'))
    price_list.append(price[i].text)

df = pd.DataFrame({
    "Title":title_list,
    "Rating":rating_list,
    "Price":price_list
})
df

C:\Users\Sony\AppData\Local\Temp\ipykernel_2156\3194443007.py:12: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\Sony\.wdm\drivers\chromedriver\win32\102.0.5005.61\chromedriver")

,Title,Rating,Price
0,Acer Predator Helios 300 11th Gen Intel Core i...,5.0 out of 5 stars,"1,29,990"
1,"ASUS ROG Strix Scar 15 (2022), 15.6"" (39.62 cm...",4.0 out of 5 stars,"2,33,135"
2,"MSI Gaming Stealth GS66, Intel 12th Gen. i9-12...",4.6 out of 5 stars,"2,99,990"
3,Lenovo Legion 7 10th Gen Intel Core i9 39.62 c...,4.4 out of 5 stars,"2,65,999"
4,Acer Predator Helios 500 Gaming Laptop (11th G...,5.0 out of 5 stars,"3,79,990"
5,Dell G7 7500 10th Gen Intel i9-10885H 15.6 inc...,4.0 out of 5 stars,"2,05,990"
6,"ASUS ROG Strix Scar 15 (2022), 15.6-inch (39.6...",4.0 out of 5 stars,"2,81,388"
7,HP Envy 15- 11th Gen Intel Core i9/32GB/1TB SS...,3.3 out of 5 stars,"2,02,990"
8,(Renewed) HP Omen 15-dh0139TX Gaming Laptop (9...,1.0 out of 5 stars,"1,38,000"

Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.

In [12]:
import selenium
import time
import pandas as pd
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium import webdriver 
from selenium.common.exceptions import StaleElementReferenceException
import re

driver=webdriver.Chrome(r"C:\Users\Sony\.wdm\drivers\chromedriver\win32\102.0.5005.61\chromedriver")
driver.maximize_window()
time.sleep(3)
driver.get('https://www.ambitionbox.com/')

search_bar = driver.find_element(By.XPATH , '//*[@class="link jobs"]').click()
time.sleep(1)
search_click = driver.find_element(By.XPATH , '//*[@id="jobs-typeahead"]/span/input').send_keys('Data scientist')
time.sleep(1)
sumbit_click = driver.find_element(By.XPATH , '//*[@id="jobs"]/div[2]/div[1]/div[1]/div/div/div/button').click()
time.sleep(5)
loc_click = driver.find_element(By.XPATH , '//*[@id="filters-row"]/div/div/div[2]/div[1]/p').click()
time.sleep(1)
input_data1= driver.find_element(By.XPATH , '//*[@id="filters-row"]/div/div/div[2]/div[2]/div/div[2]/input').click()
time.sleep(1)
input_data= driver.find_element(By.XPATH , '//*[@id="filters-row"]/div/div/div[2]/div[2]/div/div[2]/input').send_keys('Noida')
time.sleep(1)
choose_data= driver.find_element(By.XPATH , '//*[@id="location_Noida"]').click()

time.sleep(4)
company  = driver.find_elements(By.XPATH , '//*[@class="company body-medium"]')
rating = driver.find_elements(By.XPATH , '//*[@class="body-small"]')

posted_days_list = []
company_list = []
rating_list = []
for i in range(len(company)):
    posted_days = driver.find_element(By.XPATH , '//*[@id="jobsList"]/div[2]/div[2]/div/div[1]/div['+str(i+1)+']/div[3]/span[@class="body-small-l"][1]') 
    company_list.append(company[i].text)
    rating_list.append(rating[i].text)
    posted_days_list.append(posted_days.text)

df = pd.DataFrame({
    "Company_name":company_list,
    "Rating":rating_list,
    "Posted_Ago":posted_days_list
})
df

C:\Users\Sony\AppData\Local\Temp\ipykernel_2156\3137237095.py:10: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\Sony\.wdm\drivers\chromedriver\win32\102.0.5005.61\chromedriver")

                                     Company_name Rating Posted_Ago
0                   GENPACT India Private Limited    4.0     3d ago
1  Optum Global Solutions (India) Private Limited    4.2    11d ago
2                   GENPACT India Private Limited    4.0    10d ago
3                        Hcl Technologies Limited    3.9    13d ago
4                EXL Services.com ( I ) Pvt. Ltd.    3.9    24d ago
5                                           Paytm    3.7     6d ago
6  Om Software Internet Solutions Private Limited    4.5    14d ago
7                                           Paytm    3.7    24d ago
8        MOTHERSONSUMI INFOTECH & DESIGNS LIMITED    3.3    11d ago
9              Ashkom Media India Private Limited    3.3    10d ago

Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

In [13]:
import selenium
import time
import pandas as pd
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium import webdriver 
from selenium.common.exceptions import StaleElementReferenceException
import re

driver=webdriver.Chrome(r"C:\Users\Sony\.wdm\drivers\chromedriver\win32\102.0.5005.61\chromedriver")
driver.maximize_window()
time.sleep(3)
driver.get('https://www.ambitionbox.com/')
time.sleep(3)
search_bar = driver.find_element(By.XPATH , '//*[@class="link salaries"]').click()
time.sleep(1)
sumbit_click = driver.find_element(By.XPATH , '//*[@placeholder="Search job profiles"]').click()
sumbit_click = driver.find_element(By.XPATH , '//*[@placeholder="Search job profiles"]').send_keys('Data scientist')
time.sleep(3)
input_data = driver.find_element(By.XPATH , '//*[text()="Data Scientist"]').click()
time.sleep(3)


company_list = []
salary_record_list = []
exp_list = []
min_salary_list = []
max_salary_list = []
average_salary_list = []


salary_record = driver.find_elements(By.XPATH , '//*[@class="name"]//span')
exp = driver.find_elements(By.XPATH , '//*[@class="salaries sbold-list-header"]')
min_salary  =driver.find_elements(By.XPATH , '//*[@class="value body-medium"][1]')
max_salary  = driver.find_elements(By.XPATH , '//*[@class="value body-medium"][2]')
average_salary = driver.find_elements(By.XPATH , '//*[@class="averageCtc"]')

for i in range(10):
    company  = driver.find_element(By.XPATH , '//*[@id="sal-table"]/div[2]/div['+str(i+1)+']/div[1]/div/div/div[1]/a')
    exp_list.append(exp[i].text[18:])
    salary_record_list.append(salary_record[i].text)
    company_list.append(company.text)
    min_salary_list.append(min_salary[i].text)
    max_salary_list.append(max_salary[i].text)
    average_salary_list.append(average_salary[i].text)
    
df = pd.DataFrame({
    "Company_name":company_list,
    "Salary_record" : salary_record_list,
    "Experience_req":exp_list,
    "Average_salary":average_salary_list,
    "Minimum_salary":min_salary_list,
    "Maximum_salary":max_salary_list
})
df

C:\Users\Sony\AppData\Local\Temp\ipykernel_2156\3885063429.py:10: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\Sony\.wdm\drivers\chromedriver\win32\102.0.5005.61\chromedriver")

,Company_name,Salary_record,Experience_req,Average_salary,Minimum_salary,Maximum_salary
0,Walmart,based on 12 salaries,\n3 yrs exp,₹ 30.2L,₹ 25.0L,₹ 36.0L
1,Ab Inbev,based on 33 salaries,\n3-4 yrs exp,₹ 20.6L,₹ 15.0L,₹ 25.5L
2,American Express,based on 10 salaries,\n4 yrs exp,₹ 19.9L,₹ 14.1L,₹ 25.0L
3,ZS,based on 15 salaries,\n2 yrs exp,₹ 16.7L,₹ 11.0L,₹ 22.0L
4,Optum,based on 33 salaries,\n3-4 yrs exp,₹ 16.1L,₹ 11.0L,₹ 22.6L
5,Reliance Jio,based on 21 salaries,\n3-4 yrs exp,₹ 15.7L,₹ 5.6L,₹ 26.2L
6,Fractal Analytics,based on 83 salaries,\n2-4 yrs exp,₹ 15.4L,₹ 10.0L,₹ 22.0L
7,Tiger Analytics,based on 50 salaries,\n2-4 yrs exp,₹ 14.8L,₹ 9.0L,₹ 20.0L
8,UnitedHealth,based on 57 salaries,\n2-4 yrs exp,₹ 14.0L,₹ 8.3L,₹ 21.1L
9,EXL Service,based on 10 salaries,\n4 yrs exp,₹ 13.3L,₹ 8.9L,₹ 21.0L